body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
  
header{
    z-index: 1;
    position: fixed;
    background: #1f0303;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
}
  
.left_area img{
    width: 120px;
    margin-top: -15px;
}
  
.logout_btn{
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #d69a00;
    text-decoration: none;
    float: right;
    margin-top: -60px;
    margin-right: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #360405;
    transition: 0.5s;
    transition-property: background;
}
  
.logout_btn:hover{
    background: #bc8517;
}
  
.sidebar{
  z-index: 1;
  top: 0;
  background: #360405;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.menu{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 15px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.menu2{
  color: #fff;
  display: block;
  width: 100%;
  text-decoration: none;
  padding-left: 15px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sub_menu{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 35px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}
  
.sidebar a:hover{
    background: #bc8517;
}
  
.sidebar i{
    padding-right: 10px;
}
  
label #sidebar_btn{
    z-index: 1;
    color: #e0ac26;
    position: fixed;
    cursor: pointer;
    left: 225px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
  
label #sidebar_btn:hover{
    color: #bc8517;
}
  
#check:checked ~ .sidebar{
    left: -185px;
}
  
#check:checked ~ .sidebar a span{
    display: none;
}
  
#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 180px;
  width: 100%;
}
  
.content{
  background: url('http://localhost/KampungCoklat/public/img/bg.jpg');
  background-position: center;
  background-size: cover;
  height: auto;
  transition: 0.5s;
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
}

#check:checked ~ .content{
    margin-left: 60px;
}
  
#check{
    display: none;
}
  
.mobile_nav{
    display: none;
}

.content .card p{
    background: #fff;
    padding: 15px;
    margin: 15px;
    font-size: 14px;
    opacity: 0.8;
}

.content .card_table {
  box-shadow: 0 19px 38px rgba(255, 255, 255, 0.3), 0 15px 12px rgba(0,0,0,0.22);
  background-color: #fff;
}

.tabelMahasiswa {
  margin-top: 10px;
  font-family: Arial;
  border-collapse: collapse;
  width: 100%;
}

.content .card_table1 {
  margin: 20px;
  height: 50px;
}

.content .card_table2 {
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.tambah {
  cursor: crosshair;
  text-decoration: none;
  background-color: #27a644;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
  font-family: Arial;
  font-weight: bold;
  color: white;
}

.edit {
  text-decoration: none;
  background-color: #017afe;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
  font-family: Arial;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.pageLebih {
  text-decoration: none;
  background-color: #e9d09e;
  padding: 10px 10px;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  color: black;
}
.page {
  text-decoration: none;
  background-color: #fff5e2;
  padding: 10px 10px;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  color: black;
}
.page_aktif {
  text-decoration: none;
  background-color: #360405;
  padding: 10px 10px;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  color: white;
  font-weight: bold;
}
.hapus {
  text-decoration: none;
  background-color: #de3645;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
  font-family: Arial;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

td, th {
  border: 1px solid #e0ac26;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #747677;
}

tr:hover {
  background-color: #CFFAF8;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f4f6f8;
  color: #1f0303;
}

.kotak{
  margin: 20px;
}

.kotak .form .inputfield{
	margin-bottom: 15px;
	display: flex;
	align-items: center;
  width: 50%;
}

.kotak .form .inputfield2{
	margin-bottom: 15px;
	display: flex;
	align-items: center;
  width: 50%;
  margin-left: 50%;
  margin-top: -55px;
}

.dataDiri {
	width: 250px;
	font-family: Helvetica;
	font-size: 16px;
	margin-top: 10px;
	margin-right: 10px;
	font-weight: bold;
}

.diri {
	width: 50%;
	outline: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: none;
	padding-left: 10px;
	font-family: Helvetica;
	font-size: 16px;
	border-radius: 8px;
	height: 38px;
	transition: all 0.3s ease;
	background-color: rgba(235, 235, 235, 0.4);
}

.textarea {
	font-size: 16px;
	font-family: Helvetica;
	height: 60px;
	width: 100%;
	background-color: rgba(235, 235, 235, 0.4);
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: none;
	outline: none;
	border-radius: 8px;
	padding-left: 8px;
	padding-top: 8px;
	resize: none;
}

.select {
	width: 49%;
	height: 37px;
	background-color: rgba(235, 235, 235, 0.4);
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: none;
	outline: none;
	border-radius: 8px;
	padding-left: 8px;
	font-family: Helvetica;
	font-size: 16px;
}

.select2 {
	width: 49%;
	height: 37px;
	background-color: rgba(235, 235, 235, 0.4);
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: none;
	outline: none;
	border-radius: 8px;
	padding-left: 8px;
	font-family: Helvetica;
	font-size: 16px;
	margin-left: 3px;
}

.tanggal {
	padding-left: 8px;
	height: 38px;
	background-color: rgba(235, 235, 235, 0.4);
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: none;
	outline: none;
	border-radius: 8px;
	width: 49%;
	font-family: Helvetica;
	font-size: 16px;
}

.radio {
	margin-left: 10px;
	font-size: 5px;
	height: 10px;
}

.pilihan {
	font-size: 16px;
	font-family: Helvetica;
	margin-left: 8px;
}

.radio2 {
	margin-left: 130px;
	font-size: 6px;
	height: 10px;
}

.radio3 {
	margin-left: 132px;
	font-size: 6px;
	height: 10px;
}

.kotak .form .inputfield:last-child {
	margin-bottom: 0;
}

.hitung {
	width: 15%;
  outline: none;
  border: none;
  padding: 10px;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  height: 38px;
  transition: all 0.3s ease;
  background-color: #3FC380;
  margin: auto;
}


  /* Responsive CSS */

  
@media screen and (max-width: 780px){
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #360405;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .nav_btn{
    color: #d69a00;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    color: #bc8517;
  }

  .mobile_nav_items{
    background: #360405;
    display: none;
  }

  .mobile_nav_items .menu{
    color: #fff;
    display: block;
    text-align: left;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .mobile_nav_items .menu2{
    color: #fff;
    display: block;
    text-align: left;
    letter-spacing: 1px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .mobile_nav_items .sub_menu{
    color: #fff;
    display: block;
    text-align: left;
    letter-spacing: 1px;
    line-height: 50px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #bc8517;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }

  .kotak .form .inputfield{
		flex-direction: column;
		align-items: flex-start;
	}
	.kotak .form .inputfield label{
		margin-bottom: 5px;
	}
	.kotak .form .inputfield.terms{
		flex-direction: row;
	}

	.kotak {
		box-shadow: none;
	}

	.select {
		width: 48%;
	}

	.select {
		width: 48%;
	}

	.tanggal {
		width: 48%;
	}
  
}
        